* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

.nav-list {
    display: inline;
}

a {
    text-decoration: none;
}

div.not-available-error {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 200vh;
    font-family: "Montserrat", cursive;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    display: none;
}

@media screen and (max-width: 315px) {
    div.not-available-error {
        display: block;
    }
    body *:not(:first-child > *) {
        display: none;
    }
}

div.not-available-error i {
    font-size: 35vw;
    color: #ff7f73;
    margin-top: 10vh;
}

div.not-available-error i:last-of-type {
    font-size: 10vw;
}

div.not-available-error h1,
div.not-available-error h2 {
    margin-top: 5vw;
}

div.not-available-error h1 {
    font-size: 7vw;
    color: #679daf;
}

div.not-available-error h2 {
    font-size: 5vh;
}


/** SIDEBAR */

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
}

.sidebar i[class] {
    display: inline-block;
    color: black;
    position: absolute;
    right: 20px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 27px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: "Montserrat", cursive;
    font-weight: bold;
    position: relative;
    padding: 40px;
}

.sidebar a:not(.closebtn) {
    border-bottom: 1px solid black;
}

.sidebar a#logo {
    color: rgb(199, 29, 29);
}

.sidebar a:hover {
    color: #d33123;
}

.sidebar .closebtn {
    position: absolute;
    top: -40px;
    right: -10px;
    font-size: 51px;
    margin-left: 50px;
}

.sidebar i[class] {
    display: inline-block;
    color: black;
    position: absolute;
    right: 20px;
}


/** SIDE FILTERS */

.sideFilter {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
}

.sideFilter input[type="radio"] {
    visibility: visible;
}

.sideFilter a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 27px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: "Montserrat", cursive;
    font-weight: bold;
    position: relative;
    padding: 40px;
}

.sideFilter a:not(.closebtn) {
    border-bottom: 1px solid black;
}

.sideFilter a#logo {
    color: rgb(199, 29, 29);
}

.sideFilter a:hover {
    color: #d33123;
}

.sideFilter .closebtn {
    position: absolute;
    top: -40px;
    right: -10px;
    font-size: 51px;
    margin-left: 50px;
}

.sideFilter h1 {
    font-size: 20px;
    font-family: "Gordita", sans-serif;
    margin-top: 30px;
    margin-left: 25px;
    color: black;
}

.sideFilter .filtre-stick {
    width: 50px;
    height: 3px;
    background-color: black;
    display: inline-block;
    margin-bottom: 18px;
    border: none;
    margin-left: 40px;
}

.sideFilter .filtre-text {
    font-family: "Gordita", sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: black;
    margin-left: 19px;
    display: inline;
}

.sideFilter input[type="submit"] {
    color: white;
    background-color: #d33123;
    display: block;
    margin: 50px 30px 0 auto;
}

.sideFilter label {
    font-family: "Gordita", sans-serif;
    font-size: 20px;
    color: black;
    display: block;
}

.sideFilter input[type="radio"] {
    margin-left: 35px;
}

nav {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    padding-top: 45px;
}

.nav-list>li {
    margin-right: 29px;
    list-style-type: none;
    display: inline;
}

.language {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.biz {
    font-size: 25px;
}

.biz2 {
    font-size: 30px;
}

.nav-list2>li {
    display: inline;
    margin-right: 29px;
}

.logo2>a {
    font-family: "Gordita", sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.66;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.nav-list2>li>a {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.logo>a {
    font-family: "Gordita", sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.66;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.nav-list>li>a {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.nav-icon {
    margin-right: 30px;
}

.filtre {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-column-gap: 20px;
}

.filtre> :first-child {
    background-color: #484848;
    height: fit-content;
    padding-bottom: 45px;
}

.mirror-choose {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 52px;
}

.mirror-choose>div {
    width: 398px;
    height: 570px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}


/* 
.noi-denumire {
    font-family: "Gordita", sans-serif;
    font-size: 31px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #484848;
    margin-top: 22px;
}

.noi-pret {
    font-family: "Gordita", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #484848;
    margin-top: 12px;
}

.mai-multe {
    font-family: "Gordita", sans-serif;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #484848;
    margin-top: 45px;
    margin-right: 54px;
}

.mai-multe::before {
    content: "";
    display: block;
    border-bottom: 3px solid #d33125;
    position: relative;
    top: 32px;
    left: 175px;
    width: 190px;
}

.mai-multe:hover {
    cursor: pointer;
} */

.noi-denumire {
    font-family: "Gordita", sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #484848;
    margin-top: 28px;
}

.noi-pret {
    font-family: "Gordita", sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #484848;
    margin-top: 13px;
}

.mai-multe {
    font-family: "Gordita", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #484848;
    margin-top: 53px;
    margin-right: 54px;
    position: relative;
}

.mai-multe::before {
    content: "";
    display: block;
    border-bottom: 3px solid #d33125;
    position: absolute;
    top: 45px;
    right: 0%;
    width: 250px;
}

.mai-multe:hover {
    cursor: pointer;
}

.filtre-stick {
    width: 50px;
    height: 3px;
    background-color: white;
    display: inline-block;
    margin-bottom: 18px;
    border: none;
    margin-left: 40px;
}

.filtre-text {
    font-family: "Gordita", sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 19px;
    display: inline;
}

.filter-type {
    font-family: "Gordita", sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 74px;
    margin-top: 30px;
}

.radio {
    margin-top: 22px;
    margin-left: 140px;
}

input[type="radio"] {
    visibility: hidden;
}

label {
    font-family: "Gordita", sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

input[type="radio"]:not(.sidebar input) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.radio label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid#fff;
    padding: 0.13em;
    background-color: transparent;
    background-clip: content-box;
}

.radio label {
    margin-right: 1em;
}

.radio input:hover+label:before {
    border-color: #fff;
}

.radio input:checked+label:before {
    background-color: red;
    border-color: #fff;
}

input[type="reset"] {
    width: 122px;
    height: 47px;
    background-color: #d33123;
    border: none;
    margin-top: 47px;
    margin-left: 156px;
    font-family: "Gordita", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

input[type="reset"]:hover {
    cursor: pointer;
}

input[type="submit"] {
    width: 122px;
    height: 47px;
    background-color: #252525;
    border: none;
    margin-top: 47px;
    margin-left: 30px;
    font-family: "Gordita", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.forma {
    font-family: "Gordita", sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}


/* footer {
    height: 380px;
    background-color: #484848;
    padding-top: 60px;
}

.footer-stick-container {
    text-align: center;
}

footer>div:first-child {
    display: grid;
    grid-template-columns: 20% 55% 20%;
    justify-content: center;
}

footer>div:first-child> :first-child {
    justify-self: center;
}

footer>div:first-child> :nth-child(2) {
    justify-self: center;
}

footer>div:first-child> :last-child {
    justify-self: center;
}

.footer-text {
    width: 287px;
    height: 120px;
    font-family: "Gordita", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #c4c4c4;
    margin-top: 26px;
}

.footer-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.footer-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #c4c4c4;
}

.instagram {
    margin-left: 21px;
}

.footer-stick {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

.footer-stick-container {
    margin-top: 40px;
}

.footer .nav-list>li>a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.copyright {
    font-family: "Gordita", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 27px;
} */

footer {
    margin-top: 150px;
    height: 380px;
    background-color: #484848;
    padding-top: 60px;
}

.footer-stick-container {
    text-align: center;
}

footer>div:first-child {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

footer>div:first-child> :first-child {
    justify-self: center;
}

footer>div:first-child> :nth-child(2) {
    justify-self: center;
}

footer>div:first-child> :last-child {
    justify-self: center;
}

.footer-text {
    width: 287px;
    height: 120px;
    font-family: "Gordita", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #c4c4c4;
    margin-top: 26px;
}

.footer-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.footer-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #c4c4c4;
}

.instagram {
    margin-left: 21px;
}

.footer-stick {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

.footer-stick-container {
    margin-top: 40px;
}

.copyright {
    font-family: "Gordita", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 27px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown>span {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #484848;
    width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 1;
}

.dropdown-content>p>a {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: white;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mirror-choose div>img {
    width: 100%;
    height: 323px;
}

div.filter-toggle-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-family: "Gordita", sans-serif;
    font-size: 30px;
    margin: 100px 0px;
    display: none;
}

div.filter-toggle-button i {
    margin-right: 30px;
    display: inline-block;
}

div.filter-toggle-button a {
    text-decoration: none;
    color: inherit;
}

span.burger {
    color: inherit;
    font-size: 2em;
    display: none;
}

nav>div>a>img {
    width: 27px;
}

@media screen and (max-width: 1660px) {
    .mirror-choose {
        grid-template-columns: 1fr 1fr;
    }
    footer>div:first-child {
        grid-template-columns: 1fr;
    }
    .footer-text {
        text-align: center;
    }
    footer>div> :nth-child(2)>.nav-list>li {
        display: block;
    }
    footer>div:first-child>div:first-child>.logo {
        text-align: center;
    }
    footer> :first-child> :nth-child(2)>.nav-list>li {
        text-align: center;
        margin: 15px 0;
    }
    footer {
        height: 715px;
    }
    .footer-title {
        text-align: center;
    }
    .footer-subtitle {
        text-align: center;
    }
    footer .nav-list2>li {
        display: block;
        margin: 15px auto;
    }
    footer ul.nav-list2 {
        text-align: center;
    }
    .logo2>a {
        margin-left: 80px;
        font-size: 30px;
    }
    header>nav>div {
        justify-self: right;
    }
    header>nav {
        display: grid;
        grid-template-columns: 30% 1fr;
        padding: 45px 45px 0;
    }
}

@media screen and (max-width: 1134px) {
    .mirror-choose {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .mirror-choose>div {
        width: 50vw;
        height: fit-content;
        padding-bottom: 30px;
    }
    .mirror-choose>div img {
        width: 100%;
        height: auto;
    }
    .filtre> :first-child {
        display: none;
    }
    .filtre {
        grid-template-columns: 1fr;
    }
    div.filter-toggle-button {
        display: grid;
    }
    .nav-list>li {
        margin-right: 15px;
    }
    .nav-icon {
        margin-right: 15px;
    }
    .nav-list>li>a {
        font-size: 20px;
    }
    nav>div {
        display: flex;
        justify-content: flex-end;
    }
    .nav-list {
        display: none;
    }
    span.burger {
        display: inline-block;
    }
    .logo>a {
        display: none;
    }
    .dropdown>span {
        font-size: 36px;
    }
    nav>div>a>img {
        width: 40px;
    }
}

@media screen and (max-width: 643px) {
    .noi-denumire {
        font-size: 30px;
    }
    .mai-multe {
        font-size: 20px;
    }
    .mai-multe::before {
        width: 145px;
    }
}

@media screen and (max-width: 416px) {
    .mai-multe {
        font-size: 14px;
        margin-top: 30px;
        margin-right: 20px;
    }
    .mai-multe::before {
        width: 100px;
    }
    .noi-denumire {
        font-size: 20px;
    }
    .noi-pret {
        font-size: 20px;
    }
    div.filter-toggle-button a {
        font-size: 20px;
    }
    div.filter-toggle-button i {
        margin-right: 15px;
    }
}