* {
  margin: 0;
  padding: 0;
}

.burger {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body > div {
  margin: 0 auto;
  overflow: hidden;
}

ul {
  display: inline;
}

li {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: url("../video/ezgif.com-video-to-gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

div.not-available-error {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 200vh;
  font-family: "Montserrat", cursive;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  display: none;
}

@media screen and (max-width: 315px) {
  div.not-available-error {
    display: block;
  }
  body *:not(:first-child > *) {
    display: none;
  }
}

div.not-available-error i {
  font-size: 35vw;
  color: #ff7f73;
  margin-top: 10vh;
}

div.not-available-error i:last-of-type {
  font-size: 10vw;
}

div.not-available-error h1,
div.not-available-error h2 {
  margin-top: 5vw;
}

div.not-available-error h1 {
  font-size: 7vw;
  color: #679daf;
}

div.not-available-error h2 {
  font-size: 5vh;
}

/** SIDEBAR */

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 27px;
  color: black;
  display: block;
  transition: 0.3s;
  font-family: "Montserrat", cursive;
  position: relative;
  padding: 40px;
}

.sidebar a:not(.closebtn) {
  border-bottom: 1px solid black;
}

.sidebar a#logo {
  color: rgb(199, 29, 29);
}

.sidebar a:hover {
  color: #d33123;
}

.sidebar .closebtn {
  position: absolute;
  top: -40px;
  right: -10px;
  font-size: 51px;
  margin-left: 50px;
}

span.burger {
  color: white;
  font-size: 2em;
  display: none;
}

.sidebar i[class] {
  display: inline-block;
  color: black;
  position: absolute;
  right: 20px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -3;
}

nav {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: center;
  padding-top: 45px;
}

.nav-list > li {
  margin-right: 29px;
}

.language {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.biz {
  font-size: 25px;
}

.biz2 {
  font-size: 30px;
}

.logo > a {
  font-family: "Gordita", sans-serif;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.66;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.nav-list > li > a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.nav-icon {
  margin-right: 30px;
}

.header-title {
  font-family: "Gordita", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 211px;
  margin-left: 278px;
}

.header-stick {
  width: 218px;
  margin-left: 278px;
  border: 3px solid #ffffff;
  margin-top: 18px;
}

.under-title {
  margin-left: 278px;
  margin-top: 25px;
  color: #ffffff;
  font-family: "Gordita", sans-serif;
  font-size: 25px;
  max-width: 600px;
  font-weight: 300;
}

.header-button {
  width: 251px;
  height: 86px;
  background-color: #d33125;
  color: #ffffff;
  font-family: "Gordita", sans-serif;
  font-size: 28px;
  font-weight: 400;
  border: none;
  margin-top: 96px;
  margin-left: 278px;
}

.header-button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.produse-populare {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 226px;
}

.produse-populare > div {
  justify-self: center;
}

.produs-stick {
  width: 51px;
  border: 3px solid #484848;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 134px;
}

.produse {
  font-family: "Gordita", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  display: inline;
  margin-left: 20px;
}

.produse-text {
  width: fit-content;
  padding: 0 35px;
  min-height: 267px;
  font-family: "Gordita", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  margin-left: 140px;
  margin-top: 30px;
}

.produse-populare > div:nth-child(2) {
  background: url(../img/oglinda.jpg) no-repeat;
  height: 467px;
  width: 467px;
  position: relative;
  overflow: hidden;
}

.denumire-oglinda {
  width: 215px;
  height: 64px;
  opacity: 0.81;
  background-color: #d33125;
  font-family: "Gordita", sans-serif;
  font-size: 37px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 33px;
  padding-top: 7px;
  position: absolute;
  right: 0px;
  top: 304px;
}

.produse-populare > div:nth-child(3) {
  background: url(../img/asset-3.png) no-repeat;
  height: 467px;
  width: 467px;
  position: relative;
  overflow: hidden;
}

.pret {
  width: 176px;
  height: 47px;
  background-color: #484848;
  font-family: "Gordita", sans-serif;
  font-size: 31px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 26px;
  padding-top: 3px;
  position: absolute;
  right: 0px;
  top: 385px;
}

.hover-button {
  position: absolute;
  top: 45%;
  left: 22%;
  width: 258px;
  height: 72px;
  border: solid 1px #707070;
  background-color: #d33125;
  font-family: "Gordita", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: text;
  color: #ffffff;
  visibility: hidden;
  z-index: 5;
  cursor: pointer;
}

.produse-populare > div:nth-child(2)::after {
  height: 467px;
  width: 467px;
  background-color: #484848;
  content: "";
  display: block;
  opacity: 0.78;
  visibility: hidden;
}

.produse-populare > div:nth-child(2):hover::after {
  visibility: visible;
}

.produse-populare > div:nth-child(2):hover .pret {
  visibility: hidden;
}

.produse-populare > div:nth-child(2):hover .denumire-oglinda {
  visibility: hidden;
}

.produse-populare > div:nth-child(2):hover .hover-button {
  visibility: visible;
}

.produse-populare > div:nth-child(3)::after {
  height: 467px;
  width: 467px;
  background-color: #484848;
  content: "";
  display: block;
  opacity: 0.78;
  visibility: hidden;
}

.produse-populare > div:nth-child(3):hover::after {
  visibility: visible;
}

.produse-populare > div:nth-child(3):hover .pret {
  visibility: hidden;
}

.produse-populare > div:nth-child(3):hover .denumire-oglinda {
  visibility: hidden;
}

.produse-populare > div:nth-child(3):hover .hover-button {
  visibility: visible;
}

.produse-noi {
  margin-top: 200px;
  background-color: #ebe8e4;
  height: min-content;
  /*In loc de 1003px*/
  padding-top: 78px;
}

.noi > div {
  justify-self: center;
}

.noi {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  /* margin-top: 55px; */
  padding: 55px 0 55px;
}

.noi > div {
  width: 493px;
  height: 649px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.noi-denumire {
  font-family: "Gordita", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  margin-top: 28px;
}

.noi-pret {
  font-family: "Gordita", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  margin-top: 13px;
}

.mai-multe {
  font-family: "Gordita", sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: right;
  color: #484848;
  margin-top: 53px;
  margin-right: 54px;
  position: relative;
}

.mai-multe::before {
  content: "";
  display: block;
  border-bottom: 3px solid #d33125;
  position: absolute;
  top: 45px;
  right: 0%;
  width: 250px;
}

.mai-multe:hover {
  cursor: pointer;
}

.despre {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.despre > :first-child {
  position: relative;
}

.despre-stick {
  width: 51px;
  border: 3px solid #484848;
  display: inline-block;
  margin-bottom: 15px;
}

.black-rectangle {
  width: 952px;
  height: 471px;
  background-color: #181818;
  z-index: -1;
  position: absolute;
  left: -52px;
  top: 50px;
}

.despre-mirror {
  margin-left: 217px;
}

.despre > :nth-child(2) {
  margin-left: 118px;
  padding-top: 50px;
}

.despre-text {
  width: 701px;
  height: 267px;
  font-family: "Gordita", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  margin-top: 52px;
}

.despre-noi {
  display: inline;
  font-family: "Gordita", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  margin-left: 19px;
}

.pareri {
  height: 896px;
  background-color: #ebe8e4;
  margin-top: 200px;
  padding-top: 51px;
}

.testimonials {
  width: 1324px;
  height: fit-content;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 109px;
  position: relative;
  left: calc(50% - 1324px / 2);
  padding: 25px;
}

.quotes {
  background-color: red;
  width: 81px;
  height: 65px;
  text-align: center;
  position: absolute;
  left: 68px;
  top: -25px;
}

.current-person {
  text-align: center;
  padding-top: 24px;
}

.feedback-text {
  width: 1108px;
  height: fit-content;
  font-family: "Gordita", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  margin: 0 auto;
  padding: 37px 0;
}

.testimonials > :nth-child(2) {
  display: none;
}

.testimonials > :nth-child(3) {
  display: none;
}

.testimonials > :nth-child(4) {
  display: none;
}

.testimonials > :nth-child(5) {
  display: none;
}

.feedback-stick {
  width: 47px;
  border: 1px solid #707070;
  margin: 0 auto;
}

.feedback-name {
  font-family: "Gordita", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  margin-top: 5px;
}

.another-people {
  text-align: center;
  margin-top: 40px;
}

.another-people > img {
  margin: 0 25px 0;
}

footer {
  height: 380px;
  background-color: #484848;
  padding-top: 60px;
}

.footer-stick-container {
  text-align: center;
}

footer > div:first-child {
  display: grid;
  grid-template-columns: 20% 55% 20%;
  justify-content: center;
}

footer > div:first-child > :first-child {
  justify-self: center;
}

footer > div:first-child > :nth-child(2) {
  justify-self: center;
}

footer > div:first-child > :last-child {
  justify-self: center;
}

.footer-text {
  width: 287px;
  height: 120px;
  font-family: "Gordita", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #c4c4c4;
  margin-top: 26px;
}

.footer-title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #c4c4c4;
}

.instagram {
  margin-left: 21px;
}

.footer-stick {
  width: 70%;
  background-color: white;
  margin: 0 auto;
}

.footer-stick-container {
  margin-top: 40px;
}

.copyright {
  font-family: "Gordita", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 27px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > span {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 1;
}

.dropdown-content > p > a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1690px) {
  .noi {
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }
  .noi img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .noi > div {
    width: 55%;
    height: max-content;
    padding-bottom: 20px;
  }
  .produse-populare > div:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 1305px) /*and (min-width: 720px) pur si simplu vreau sa aplic aceleasi stiluri si la alte dimensiuni mai mici de 720px*/ {
  nav {
    grid-template-columns: 25% 1fr;
  }
  nav > .logo {
    margin-left: 25px;
  }
  .nav-list > li {
    margin-right: 15px;
  }
  .nav-icon {
    margin-right: 15px;
  }
  .nav-list > li > a {
    font-size: 20px;
  }
  .logo > a {
    font-size: 35px;
  }
  .header-title {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 0;
  }
  .header-stick {
    width: 165px;
    margin: 10px auto;
  }
  .under-title {
    margin: 25px auto;
    font-size: 15px;
    text-align: center;
  }
  .header-button {
    width: 200px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    left: calc(50% - 200px / 2);
  }
  .produse-populare {
    margin-top: 50px;
  }
  .produse-populare > div:nth-of-type(1) {
    grid-column-start: unset;
    grid-column-end: unset;
  }
  .produse-populare {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .produse-populare > div:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: unset;
  }
  .produse {
    font-size: 30px;
  }
  .produse-text {
    font-size: 18px;
    margin: 0 35px;
  }
  .produse-text {
    text-align: justify;
  }
  .produs-stick {
    margin-left: 0;
  }
  .produse-populare > div:nth-child(2) {
    width: 400px;
    height: 400px;
  }
  .produse-populare > div:nth-child(3) {
    width: 400px;
    height: 400px;
  }
  .hover-button {
    top: 41%;
    left: 19%;
  }
  .denumire-oglinda {
    top: 250px;
  }
  .pret {
    top: 335px;
  }
  /* .noi {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
    .noi-denumire {
        font-size: 30px;
        margin-top: 14px;
    }
    .noi>div>a>img {
        width: 393px;
        height: 299px;
    }
    .noi>div {
        width: 393px;
        height: 469px;
    }
    .noi-pret {
        font-size: 18px;
    } */
  .mai-multe {
    font-size: 25px;
    margin-top: 25px;
  }
  .mai-multe::before {
    width: 209px;
  }
  .produse-noi {
    height: min-content;
  }
  .despre {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 50px;
  }
  .despre > :first-child {
    display: none;
  }
  .despre-text {
    width: 470px;
    text-align: justify;
  }
  .despre > :nth-child(2) {
    justify-self: center;
    margin-left: 0;
  }
  .feedback-text {
    width: 80%;
  }
  header {
    height: max-content;
    padding-bottom: 45px;
  }
  .testimonials {
    width: 70vw;
    left: calc(50% - 70vw / 2);
  }
  footer > div:first-child {
    grid-template-columns: 1fr;
  }
  .footer-text {
    text-align: center;
  }
  footer > div > :nth-child(2) > .nav-list > li {
    display: block;
  }
  footer > div:first-child > div:first-child > .logo {
    text-align: center;
  }
  footer > :first-child > :nth-child(2) > .nav-list > li {
    text-align: center;
    margin: 15px 0;
  }
  footer {
    height: 715px;
  }
  .footer-title {
    text-align: center;
  }
  .footer-subtitle {
    text-align: center;
  }
  .social {
    text-align: center;
  }
  .another-people {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .mai-multe {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .mai-multe::before {
    left: 0%;
    width: 135px;
    top: 35px;
  }
  nav > div {
    display: flex;
    justify-content: flex-end;
  }
  nav > div > ul {
    display: none;
  }
  span.burger {
    display: inline-block;
  }
  .logo > a {
    display: none;
  }
  .noi-denumire {
    font-size: 25px;
  }
  .mai-multe {
    font-size: 18px;
  }
  .despre-text {
    padding: 0 35px;
    width: fit-content;
    height: fit-content;
  }
  .testimonials {
    left: calc(43% - 70vw / 2);
  }
  .produse {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .noi > div {
    width: 75%;
    height: max-content;
    padding-bottom: 20px;
  }
}
.dropdown-content2 {
  width: 80px;
}

.dropdown-content2 > p:nth-child(1) > a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: white;
  position: relative;
  top: -6px;
}

.dropdown-content2 > p:nth-child(3) > a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: white;
  position: relative;
  top: 6px;
}
