* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

.nav-list {
    display: inline;
}

a {
    text-decoration: none;
}

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.75);
}

.sidebar i[class] {
    display: inline-block;
    color: black;
    position: absolute;
    right: 20px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 27px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: "Montserrat", cursive;
    font-weight: bold;
    position: relative;
    padding: 40px;
}

.sidebar a:not(.closebtn) {
    border-bottom: 1px solid black;
}

.sidebar a#logo {
    color: rgb(199, 29, 29);
}

.sidebar a:hover {
    color: #d33123;
}

.sidebar .closebtn {
    position: absolute;
    top: -40px;
    right: -10px;
    font-size: 51px;
    margin-left: 50px;
}

.sidebar i[class] {
    display: inline-block;
    color: black;
    position: absolute;
    right: 20px;
}

nav {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    padding-top: 45px;
}

.nav-list>li {
    margin-right: 29px;
    list-style-type: none;
    display: inline;
}

.language {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.biz {
    font-size: 25px;
}

.biz2 {
    font-size: 30px;
}

.nav-list2>li {
    display: inline;
    margin-right: 29px;
}

.logo2>a {
    font-family: "Gordita", sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.66;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.nav-list2>li>a {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.logo>a {
    font-family: "Gordita", sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.66;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.nav-list>li>a {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.nav-icon {
    margin-right: 30px;
}

.istoric{
	font-family: "Gordita",sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #d33123;
  margin-left: 141px;
  margin-top: 198px;
}

.stick{
	width: 85%;
	margin: 0 auto;
	margin-top: 8px;
}

.stick1{
width: 75%;
	margin: 0 auto;
	margin-top: 65px;
}

.cart {
    display: grid;
    grid-gap: 29px;
    grid-template-columns: 30% 1fr;
    position: relative;
    margin: 20px auto;
    padding: 20px;
    transition: all 1s;
}

.cart i[class] {
    font-size: 4em;
    color: white;
    margin: auto 0;
}

hr.product-separation-bar {
    width: 3px;
    width: 90%;
    margin: 0 auto;
}

.product-info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-info>* {
    /* margin-left: 2px; */
    margin-left: 40px;
}

.cart-image {
    justify-self: center;
    align-self: center;
}

.denumire-oglinda {
    font-family: "Gordita", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
    margin-top: 33px;
    /* margin-left: 40px; */
}

.inaltime-latime-caracteristica {
    font-family: "Gordita", sans-serif;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
    margin-top: 22px;
    /* margin-left: 40px; */
}

.marime {
    display: inline-block;
    font-family: "Gordita", sans-serif;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
    margin-top: 22px;
    display: inline-block;
}

.pret-pentru1 {
    width: 168px;
    height: 40px;
    background-color: #484848;
    margin-top: 25px;
    font-family: "Gordita", sans-serif;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    /* margin-left: 35px; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown>span {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #484848;
    width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 1;
}

.dropdown-content>p>a {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: white;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    margin-top: 150px;
    height: 380px;
    background-color: #484848;
    padding-top: 60px;
}

.footer-stick-container {
    text-align: center;
}

footer>div:first-child {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

footer>div:first-child> :first-child {
    justify-self: center;
}

footer>div:first-child> :nth-child(2) {
    justify-self: center;
}

footer>div:first-child> :last-child {
    justify-self: center;
}

.footer-text {
    width: 287px;
    height: 120px;
    font-family: "Gordita", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #c4c4c4;
    margin-top: 26px;
}

.footer-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.footer-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #c4c4c4;
}

.instagram {
    margin-left: 21px;
}

.footer-stick {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

.footer-stick-container {
    margin-top: 40px;
}

.copyright {
    font-family: "Gordita", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 27px;
}

@media screen and (max-width: 1510px) {
	.cart{
		grid-template-columns: 1fr;
	}

    .product-info {
        align-items: center;
        flex-direction: column;
        justify-self: center;
        grid-template-columns: 1fr;
    }
    .cart-list {
        width: 100%;
    }
    .pret-total {
        align-self: center;
        justify-self: center;
        text-align: left;
        margin-top: 30px;
    }
    .cart-image {
        align-self: center;
        height: 370px;
    width: 320px;
    }
    .cart i[class] {
        margin: 0;
    }
    footer>div:first-child {
        grid-template-columns: 1fr;
    }
    .footer-text {
        text-align: center;
    }
    footer>div> :nth-child(2)>.nav-list>li {
        display: block;
    }
    footer>div:first-child>div:first-child>.logo {
        text-align: center;
    }
    footer> :first-child> :nth-child(2)>.nav-list>li {
        text-align: center;
        margin: 15px 0;
    }
    footer {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-title {
        text-align: center;
    }
    .footer-subtitle {
        text-align: center;
    }
    .nav-list2>li {
        display: block;
        margin: 20px auto;
        text-align:center;
    }
    p.logo2 {
        visibility: hidden;
    }
    .nav-list>li {
        margin-right: 15px;
    }
    .nav-icon {
        margin-right: 15px;
    }
    .nav-list>li>a {
        font-size: 20px;
    }
    nav>div {
        display: flex;
        justify-content: flex-end;
    }
    .nav-list {
        display: none;
    }
    span.burger {
        display: inline-block;
        visibility: visible;
        font-weight: 900;
        font-size: 2em;
    }
    .logo>a {
        display: none;
    }
    nav>div>a>img {
        width: 40px;
    }
}

@media screen and (max-width: 768px) {
    .cart i[class] {
        font-size: 3em;
    }
    .cart-button {
        margin-left: unset;
        margin-right: unset;
        width: 100%;
    }
    div.achitare-container {
        margin-left: unset;
    }
}

@media screen and (max-width: 315px) {
    div.not-available-error {
        display: block;
    }
    body *:not(:first-child > *) {
        display: none;
    }
}