<h2 class="product__name">{{ products.title }}</h2>

<a href="#" class="product__link">
    <span class="emoji-left">🛒</span>
    <span>{{products.price}}</span>
</a>

<p class="product__description">
    {{ products.description }}
</p>